body {
    background-color: white;
}

.b2 {
}

label {
    display: block;
    margin-top: 0px;
    color: black;
}

input {
    width: 40%;
}

    input[type=button] {
        border: none;
        background-color: #4CAF50;
        width: 50px;
    }

    input[type=text], [type=email], [type=date], [type=password], [type=tel] {
        width: 60%;
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

        input[type=text], [type=email], [type=date], [type=password], [type=tel] :focus {
            border: 2px solid #ccc;
            background-color: white;
        }

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.topnav {
    overflow: hidden;
    background-color: #272424;
    background-image: url('topnav 7.jpg');
    padding: 100px;
}

    .topnav a {
        float: left;
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        width: 200px;
    }

        .topnav a:hover {
            color: white;
            text-decoration: none;
        }

.k {
    color: #ff6a00;
}


img {
    float: right;
}

.img2 {
    float: left;
}

.p {
    color: #808080;
    text-align: left;
    text-align: justify;
    line-height: 1.3;
    font-size: 20px;
    padding: 2px 20px;
}

.j {
    color: #ff6a00;
    text-indent: 60px;
}

.button {
    background-color: #4CAF50;
    border: white;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    outline: none;
}

.footer {
    background-color: black;
}

.column {
    float: left;
    padding: 10px;
}


    .column.side {
        width: 25%;
    }

    .column.middle {
        width: 50%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.espaco {
    padding: 20px;
    line-height: 1.3;
}

.menu {
    overflow: hidden;
    background-image: url('../Images/WhatsApp Image 2020-10-18 at 19.14.35.jpeg');
}

    .menu a {
        float: left;
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 50px 16px;
        text-decoration: none;
        width: 200px;
    }

        .menu a:hover {
            color: white;
        }

.fundo {
    width: 100%;
    background-image: url('../Images/fundo.jpg');
}

ul {
    list-style-type: none;
    margin-left:5px;
    padding: 0;
    width: 800px;
    background-color: #c2c2c2;
    height: 280px;
}

li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

    li a:hover {
        background-color: black;
        color: white;
    }

